<div class="mainDiv" *ngIf="user">
    <h2 class="ms-5 detailH2">🙋‍♂️ {{user.name}} {{user.surname}}</h2>

    <button type="button"
        *ngIf="authenticationService.getAuthenticatedUserUsername() == user.username  || authenticationService.isUserAdmin()"
        class="btn btn-dark ms-5 detailH2 editBtn" routerLink="/user/edit/{{user.id}}">📝
        Edit</button>
    <table class="table table-striped table-hover table-bordered ms-5 mt-3">
        <tbody>
            <tr>
                <th scope="row" class="col-2">Name</th>
                <td class="col-10 align-middle">
                    {{user.name}}
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-2">Surname</th>
                <td class="col-10 align-middle">
                    {{user.surname}}
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-2">📜 Number of tickets</th>
                <td *ngIf="tickets != null && tickets.length > 0" class="col-10 align-middle">
                    {{tickets.length}}
                </td>
                <td *ngIf="tickets != null && tickets.length == 0">
                    This user does not have any tickets!
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-2">👪 Member of teams</th>
                <td class="col-10 align-middle" *ngIf="teams != null && teams.length > 0">
                    <span *ngFor="let team of teams;" class="col-1 me-1 badge rounded-pill bg-warning text-dark"
                        routerLink="/team/{{team.id}}">{{team.name}}</span>
                </td>
                <td *ngIf="teams != null && teams.length == 0">
                    This user does not belong to any team!
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mainDiv" *ngIf="tickets != null && tickets.length > 0">
        <h3 class="ms-5">📜 Tickets</h3>
        <table class="table table-striped table-hover table-bordered ms-5">
            <thead class="thead-light">
                <tr>
                    <th scope="col" class="col-1">#</th>
                    <th scope="col" class="col-11">Name</th>
                </tr>
            </thead>
            <tbody *ngFor="let ticket of tickets; let i = index">
                <tr>
                    <th scope="row" class="col-1">{{i+1}}</th>
                    <td class="col-11" routerLink="/ticket/{{ticket.id}}">{{ticket.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>