<h2 class="ms-5 detailH2">👪 New Team</h2>
<div class="mainDiv ms-5 col-sm-6">
    <form *ngIf="teamForm" class="mt-5" [formGroup]="teamForm" novalidate (ngSubmit)="onSubmit()">
        <div>
            <div class="form-group">
                <label class="col-sm-1 col-form-label">Name</label>
                <div class="control">
                    <input type="text" id="name" class="form-control" formControlName="name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger mt-2"
                        role="alert">
                        <div *ngIf="name.errors?.['required']">
                            Name is required.
                        </div>
                        <div *ngIf="name.errors?.['minlength']">
                            Name must be at least 4 characters long.
                        </div>
                        <div *ngIf="name.errors?.['usernameAlreadyExists']">
                            Name already exists.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mt-2">
                <label>Description</label>
                <div class="control">
                    <textarea id="description" class="form-control mt-2" rows="3" formControlName="description">
                    </textarea>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)"
                        class="alert alert-danger mt-2" role="alert">
                        <div *ngIf="description.errors?.['required']">
                            Description is required.
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row mt-2">
                <div class="form-group">
                    <label for="newMember">Select members</label>
                    <select class="mt-2 form-control" #newMember multiple formControlName="members">
                        <option *ngFor=" let u of users" value="{{u.id}}">{{u.name}} {{u.surname}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-10 mt-5">
                    <button type="submit" [disabled]="teamForm.pristine || teamForm.invalid"
                        class=" btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>