<div class="mainDiv" *ngIf="ticket">
    <h2 class="ms-5 detailH2">📜 {{ticket.name}}</h2>
    <table class="table table-striped table-hover table-bordered ms-5 mt-5">
        <tbody>
            <tr>
                <th scope="row" class="col-2">Ticket id</th>
                <td class="col-10">
                    <span class="badge rounded-pill bg-info text-dark">#{{ticket.id}}</span>
                </td>
            </tr>
            <tr *ngIf="assignee">
                <th scope="row" class="col-2">🙋‍♂️ Assignee</th>
                <td class="col-10" routerLink="/user/{{assignee.id}}">{{assignee.name}} {{assignee.surname}}</td>
            </tr>
            <tr *ngIf="tester">
                <th scope="row" class="col-2">👨‍🔬 Tester</th>
                <td class="col-10" routerLink="/user/{{tester.id}}">{{tester.name}} {{tester.surname}}</td>
            </tr>
            <tr *ngIf="category">
                <th scope="row" class="col-2">📚 Category</th>
                <td class="col-10" routerLink="/category/{{category.id}}">
                    <span class="badge rounded-pill bg-secondary">{{category.name}}</span>
                </td>
            </tr>
            <tr>
                <th scope="row" class="col-2">✍ Description</th>
                <td class="col-10">{{ticket.description}}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2">🗓 Start date</th>
                <td class="col-10">{{start_date}}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2">📅 Due date</th>
                <td class="col-10">{{due_date}}</td>
            </tr>
            <tr>
                <th scope="row" class="col-2">❓ Priority</th>
                <td *ngIf="ticket.priority < 3" class="col-10 align-middle">
                    <ngb-progressbar class="col-4" type="success" [value]="ticket.priority" [max]="10">New
                    </ngb-progressbar>
                <td *ngIf="ticket.priority >= 3 && ticket.priority < 6" class="col-10 align-middle">
                    <ngb-progressbar class="col-4" type="info" [value]="ticket.priority" [max]="10">Casual
                    </ngb-progressbar>
                <td *ngIf="ticket.priority >= 6 && ticket.priority < 9" class="col-10 align-middle">
                    <ngb-progressbar class="col-4" type="warning" [value]="ticket.priority" [max]="10">Should be
                        priorized</ngb-progressbar>
                <td *ngIf="ticket.priority >= 9" class="col-10 align-middle">
                    <ngb-progressbar class="col-4" type="danger" [value]="ticket.priority" [max]="10">Urgent
                    </ngb-progressbar>
            </tr>
            <tr>
                <th scope="row" class="col-2">📊 Progress</th>
                <td class="col-10 align-middle">
                    <ngb-progressbar class="col-4" type="success" [value]="ticket.progress" [striped]="true"
                        [animated]="true" [max]="10">{{ticket.progress*10}}%</ngb-progressbar>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-dark ms-5 detailH2 editBtn">📝 Edit</button>
</div>