<div *ngIf="user" class="list-group-item list-group-item-dark col-md-6 ms-2">
    <div class="row col-md-3 ms-2">
        <h3>Change user "{{user.name}} {{user.surname}}"</h3>
        <div>
            <label>Username:
                <div>
                    <input #username value="{{user.username}}" />
                </div>
            </label>
        </div>
        <div>
            <label>Name:
                <div>
                    <input #name value="{{user.name}}" />
                </div>
            </label>
        </div>
        <div>
            <label>Surname:
                <div>
                    <input #surname value="{{user.surname}}" />
                </div>
            </label>
        </div>

        <button class="col-md-5 mt-2 ms-2" (click)="update(username.value, name.value, surname.value);">
            Apply changes
        </button>
    </div>
</div>