<h4 class="ms-5 detailH4">Tickets 📜</h4>
<div class="row search-user ms-5 col-3">
    <input type="text" name="search" [(ngModel)]="query" placeholder="Search by id, name, assignee, tester, ...">
</div>
<table class="table table-striped table-hover table-bordered ms-5 mt-2">
    <thead class="thead-light">
        <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-3">Name</th>
            <th scope="col" class="col-2">🙋‍♂️ Assignee</th>
            <th scope="col" class="col-2">👨‍🔬 Tester</th>
            <th scope="col" class="col-2">📚 Category</th>
            <th scope="col" class="col-2">📊 Progress</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of tickets | searchFilterTicket: query">
            <th scope="row" class="col-1">{{ticket.id}}</th>
            <td class="col-3" routerLink="/ticket/{{ticket.id}}">{{ticket.name}}</td>
            <td class="col-2" *ngIf="assigneeMap.size" routerLink="/user/{{assigneeMap.get(ticket.id).id}}">
                {{assigneeMap.get(ticket.id).name}}
                {{assigneeMap.get(ticket.id).surname}}
            </td>
            <td class="col-2" *ngIf="testerMap" routerLink="/user/{{testerMap.get(ticket.id).id}}">
                {{testerMap.get(ticket.id).name}} {{testerMap.get(ticket.id).surname}}
            </td>
            <td class="col-2" *ngIf="categoryMap" routerLink="/category/{{categoryMap.get(ticket.id).id}}">
                {{categoryMap.get(ticket.id).name}}
            </td>
            <td class="col-2 align-middle">
                <ngb-progressbar class="border border-secondary" type="success" [value]="ticket.progress"
                    [striped]="true" [animated]="true" [max]="10" height="20px">
                    {{ticket.progress*10}}%</ngb-progressbar>
        </tr>
    </tbody>
</table>