.editBtn {
    background-color: rgb(132, 221, 209);
    color: black;
}

.mainDiv {
    margin-top: 2em;
}

.table {
    width: 80%;
}

.detailH2 {
    margin-top: 1em;
}

.detailH4 {
    margin-top: 1em;
}

table td:hover {
    background-color: rgba(0, 0, 0, .075);
}