<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #e3f2fd;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ms-3" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item userLi">
        <a class="nav-link" routerLink="/user">Users</a>
      </li>
      <li class="nav-item teamLi">
        <a class="nav-link teamLi" routerLink="/team">Teams</a>
      </li>
      <li class="nav-item categoryLi">
        <a class="nav-link" routerLink="/category">Categories</a>
      </li>
      <li class="nav-item ticketLi">
        <a class="nav-link" routerLink="/ticket">Tickets</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>