<body class="d-flex flex-column min-vh-100">
  <nav *ngIf="authenticationService.isUserAuthenticated()" class="navbar navbar-expand-lg navbar-light "
    style="background-color: rgb(0,65,123);">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ms-3" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let item of links" class="nav-item nav-link-li-tin">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary" [routerLink]="item.link" routerLinkActive="link-active"
              style="background-color: rgba(127,160,189,1); ">{{item.label}}</button>
            <button *ngIf="isUserAdmin && item.addLabel != ''" type="button"
              class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
              aria-expanded="false" style="background-color: rgba(189,156,127,1);">
            </button>
            <div *ngIf="isUserAdmin && item.addLabel != ''" class="dropdown-menu">
              <a class="nav-link" [routerLink]="item.addLink" routerLinkActive="link-active">{{item.addLabel}}</a>
            </div>
          </div>
        </li>
        <li class="nav-item nav-link-li-tin">
          <button type="button" class="btn btn-secondary" routerLink="/ticket/add" routerLinkActive="link-active"
            style="background-color: rgba(127,160,189,1); ">New Ticket</button>
        </li>
      </ul>
    </div>
    <div class="w-100 text-end ml-auto me-2" *ngIf="authenticationService.isUserAuthenticated()" style="color: white;">
      Logged in as
      <strong>{{authenticationService.getAuthenticatedUserUsername()}}</strong>
      | <a (click)="logout()" class="link-primary" style="color: white;">Sign out</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="mt-auto bg-light text-center align-items-center">
    <span>© Tickets via Zagreb</span>

  </footer>
</body>